    <div class="list" id="<%= list.id %>">
      <h4><%= list.title %></h4>
      <p><%= list.description %></p>

      <%= link_to (image_tag ('check.svg'), class: 'check'), list_path(list), method: 'delete', remote: true %>
    </div>
