.signup-container {
  background-color: $blue;
  background-image: url('signup-background.png');
  background-size: cover;
  color: #fff;
  padding: 8rem;
  text-align: center;

  h4 { opacity: .65; }

  p {
    font-size: 1.4rem;
    margin: 1.6rem;
    opacity: .65;
  }

  a {
    color: $purple;
    text-decoration: underline;
  }
}

.info-container {
  color: #7c858e;
  padding: 8rem;
  position: relative;

  h4 { color: #363945; }
}

.clipboard { height: 32rem; }
