.item {
  margin: 1rem;
}

.item-title,
.item-description { display: inline;}

.item-description { font-style: italic;}

.item-state { margin-bottom: .5rem; }

.delete {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.item:hover .delete { opacity: 1; }
