.navbar {
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .14);
  height: 6.4rem;
  padding: 1.6rem 3.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo { height: 3.2rem; }

.button.button-outline {
  border-color: $purple;
  color: $purple;
  font-size: 1.2rem;
}
