<footer>
  <p>Made with<%= image_tag('heart.svg', alt: 'love') %>by Hunter Braun</p>

  <%= link_to image_tag('octocat.svg', alt: 'GitHub'), 'https://github.com/goronfreeman/' %>
  <%= link_to image_tag('twitter.svg', alt: 'Twitter'), 'https://twitter.com/hunterbraun' %>
</footer>
