<nav class="navbar">
  <%= image_tag('logo.png', class: 'logo', alt: 'DIVI') %>
  <%= link_to image_tag('octocat.svg', class: 'logo social', alt: 'GitHub'), 'https://github.com/goronfreeman/' %>
  <%= link_to image_tag('twitter.svg', class: 'logo social', alt: 'Twitter'), 'https://twitter.com/hunterbraun' %>

  <%# link_to 'Login', new_user_session_path, class: 'button button-outline' %>
</nav>
